use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :milk, Milk.Endpoint,
  secret_key_base: "MyLongSecretKeyBase"

# Configure your database
config :milk, Milk.Repo,
  adapter: Ecto.Adapters.Postgres,
  hostname: "postgres.host.name",
  port: 5432,
  username: "pg_user",
  password: "pg_password",
  database: "myapp_production",
  pool_size: 20,
  pool_timeout: 15000,
  timeout: 30000
